name: test

on:
  push:
    branches: [master]
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - run: npm run coverage --forbid-only
      - uses: codecov/codecov-action@v3
